In [4]:
import pandas as hantu #variabel

In [10]:
df = hantu.util.testing.makeMissingDataframe().reset_index()#perintah untuk menghasilkan dataframe yang memiliki missing value dan mereset index menjadi index yang baru
df.head() # perintah untuk memunculkan index yang missing value 5 dari atas saja

        index         A         B         C         D
0  QylJ9T4eDE -0.109466  0.394478 -0.284534  0.960217
1  SuRLxD4NLD -0.197452  0.076064  0.980111 -0.030361
2  e6NbENfU0V -1.003960  1.245405  0.510540 -0.400920
3  IlZqgY2K7g -0.261359  0.781212 -1.795092 -0.133720
4  zsp3rMJ4mz -0.915978 -0.600372  0.416162 -0.764908

In [11]:
df = df.rename(columns={'index':'L'}) #perintah untuk mengubah nama index menjadi L
df.head()

            Z         A         B         C         D
0  QylJ9T4eDE -0.109466  0.394478 -0.284534  0.960217
1  SuRLxD4NLD -0.197452  0.076064  0.980111 -0.030361
2  e6NbENfU0V -1.003960  1.245405  0.510540 -0.400920
3  IlZqgY2K7g -0.261359  0.781212 -1.795092 -0.133720
4  zsp3rMJ4mz -0.915978 -0.600372  0.416162 -0.764908

In [9]:
df_backup = df.copy(deep=True) #perintah untuk mengcopy Dataframe diatas

In [12]:
df = df.dropna(axis='columns') #perintah untuk membuang setiap kolom yang mengandung missing value
df.head()

            Z
0  QylJ9T4eDE
1  SuRLxD4NLD
2  e6NbENfU0V
3  IlZqgY2K7g
4  zsp3rMJ4mz

In [13]:
df = df_backup.copy(deep=True) #perintah untuk mengembalikan kondisi dataframe ke bentuk semula
df = df.dropna(axis='rows') #perintah untuk membuang setiap baris yang mengandung missing value
df.head

<bound method NDFrame.head of              Z         A         B         C         D
2   5tB1NeiAQf  0.428629  1.243468  1.693795  1.258508
4   vJ2HgLg0O6  0.531552 -0.878221 -1.770183  1.338376
5   KEJZf0VwxO  0.799759  1.335774 -0.363345  1.278813
6   mX1fUb79Zp  1.380470  0.055746 -1.298150 -0.411703
8   gDZcntfKv6 -0.232199 -0.703130  0.765147  0.398643
11  E56MRS4pzF  1.372439 -1.323726 -1.488534  1.692541
13  4IALar9FIq -0.359945 -0.212769 -0.326407  0.785532
14  NXjlnqNDli  0.388151 -0.301479  0.864181 -0.894271
15  q8ysCUkSvy  0.035192 -0.234867  0.060972  0.678511
16  y1dmcL23ao -0.866152 -0.603552  1.987340 -1.728200
17  iRMCBbUfgM  0.443719 -0.085022  1.339799  0.631995
18  Y2ibukpLO1 -0.458727 -0.232762  0.184760  1.143797
20  Y5fg6ouSLJ  1.418915 -0.719156  0.277014 -1.361707
23  T25YQkzvYs  0.845385  0.203107 -0.952150  0.575522
24  cn5pqKyN9x  0.951966 -0.245453  0.612967 -0.152972
25  8u0ujiEkTB -0.105696 -0.997461  0.152799 -0.112264
26  cVNXBXV92G -0.499468 -2.224445  1.785293 -1.598646
27  QqLpvrdzSq -1.366146 -0.041704 -0.413058 -0.023175
29  KQ2hrxzhi5  0.925307 -0.419681  0.268668  0.876751>

In [14]:
df = df_backup.copy(deep=True) #perintah untuk mengembalikan kondisi dataframe ke bentuk semula
df.isna().mean() #perintah untuk mengembalikan setiap missing value di setiap dataframe dan mengkalkulasi rata rata yang dimiliki olrh setiap dataframe

Z    0.000000
A    0.133333
B    0.066667
C    0.066667
D    0.133333
dtype: float64

In [16]:
treshold = len(df) * 0.9 #perintah untuk membuat batasan Dataframe yang menhilang setidaknya 90 %
df = df.dropna(thresh=treshold, axis='columns') #perintah untuk menghilangkan setiap missing value yang sudah diatas 90% di kolom
df.head()

            Z         B         C
0  qAHw6wkkmc -0.395847 -0.070466
1  HmX4CtqtvU -0.644771       NaN
2  5tB1NeiAQf  1.243468  1.693795
3  MzwpgPsDpe       NaN -0.109667
4  vJ2HgLg0O6 -0.878221 -1.770183