In [2]:
import pandas as tahu
import numpy as tempe

In [5]:
data = {'A': [15, 15, 18, tempe.nan, 12], #pembuatan 2 kolom data
        'B': [15, 15, 18, tempe.nan, 12]}
df = tahu.DataFrame(data) #menampilkan data
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

In [6]:
df['A'] #pandas series

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [7]:
type(df['A']) #menampilkan tipe pandas

pandas.core.series.Series

In [8]:
type(df) #menampilkan tipe pandas

pandas.core.frame.DataFrame

In [9]:
df['A'] == df['B'] #perintah untuk memeriksa kesamaaan nilai

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [10]:
df['A'].equals(df['B']) #sama aja cuma beda cara dan jawaban

True

In [11]:
df1 = df.copy(deep = True) #df1 dan df akan menampung objek yang berbeda dari dataframe yang kondisinya sama
df.equals(df1)

True

In [12]:
df1 == df #sama aja tapi pake operasi ==

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True

In [ ]:
#kesimpulannya mending pake metode .equals dri pada == :D